.section1 {
    text-align: left;
     justify-content: flex-start;
    align-items: center;
    z-index: 1;
}
hr { position: relative;background-color: darkred; height: 10em; z-index: 1;}
.Logo {
    top: -140px;
    left: 2px;
    width: 150px;
    height: auto;
    position: relative;
    z-index: 2;
}

.postulaciones {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.section2 {
    width: 100%;
    overflow: hidden;
    background-color: darkred;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-align: left;
     border: 1px solid white;
}
.section3 {
    width: 100%;
    overflow: hidden;
    background-color: darkred;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
     border: 1px solid white;
}
.section4 {
    width: 100%;
    overflow: hidden;
    background-color: darkred;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
     border: 1px solid white;
}
body {
     background-image: url("img/cerezas.jpg");
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;  
}
.cierre {
    background-color: darkred;
    color: white;
    font-size: 12px;
}
#modal::backdrop {
    background: rgba(0, 0, 0, 0.6);
}
#modal {
    font-family: "Google Sans", sans-serif;
    font-size: smaller;
      background-color: rgb(15, 15, 15);
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
}
#logo-google {
    width: 150px;
    height: auto;
    position: relative;
}
.modalcontenido {
    display: flex;
    gap: 20px;
}

.izq {
    width: 50%;
}

.der {
    height: -20%;
    width: 50%;
}
#emailblue {
    color: rgb(43, 135, 255);
    font-size: small;
    position: relative;
    left: 0px;
    top: -10px;
}
.superblue {
     color: rgb(43, 135, 255);
    font-size: small;
    position: relative;
    left: 0px;
    top: -10px;
}